body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

.calculator {
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: royalblue;
}

#display {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.history {
    margin-top: 20px;
    margin-left: 155px;
}

#history-list {
    list-style: none;
    padding: 0;
    color: #000;
}

#history-list li {
    margin-bottom: 5px;
    font-size: 25px;
}

h1 {
    margin: 35px;
}